<h2>¡Hola! Estás en la página de inicio</h2>
    {{#if status}}
        <p>Solo los usuarios registrados pueden escuchar esta obra maestra, disfrútala</p>
        
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="620" height="415"
                src="https://www.youtube.com/watch?v=VirkPObZJCY&list=OLAK5uy_lOLat1KTbeFUuQYcP18IP2m45CF_4w_oY">
            </iframe> 
        </div>
    
    {{else}}
    <h4>Parece que no has iniciado sesión</h4>
    {{/if}}

